body {
	padding-top: 50px;
}

.produit {
	border: 1px solid #c57a09;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

.produit:hover {
	background: #222;
	color: white;
}

.produit:hover img {
	background: white;
}

.produit span {
	display: block;
}