body {
	padding-top: 80px;
}

.produit {
	border: 1px solid #c57a09;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

.produit:hover {
	background: #222;
	color: white;
}

.produit:hover img {
	background: white;
}

.produit span {
	display: block;
}

.h1, .h2, .h3, h1, h2, h3 {
	padding-top: 0px;
	margin-top: 0px;
}



.sidebar {
	display: none;
}


.nav-sidebar {
	margin-right: -21px; /* 20px de padding + 1px de bordure */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}

	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}